*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-task-label {
    width: 100%; 
    max-width: 20rem; 
}
.new-task-input {
    width: 100%; 
    max-width: 20rem; 
}